{% extends "base.html.twig" %}

{% block title %}
    Gestion de l'événenement!
{% endblock %}
{% block body %}

    {% if event is not null %}
        

    



        <h1 class="mt-5 mb-5">Evénement : "{{ event.name }}"</h1>
 

        
   <div class="container">
      <div class="row">

         <div class="col-5 card">
            <div class="card-header">
              <p>Ajouter un groupe</p>
            </div>
            <div class="card-body">
               {{ form_start(formView) }}
               {{ form_row(formView.name) }}
               {{ form_errors(formView) }}
               <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Ajouter un groupe</button>
               {{ form_end(formView) }}
            </div>
         </div>
         <div class="col-5">
         
         <table class="table table-hover" title="Ce token est généré automatiquement lors de la création de l'événement, il est utilisé pour se connecter en tant que coach.">
            <thead>
                <tr>
                    <th scope="col">Votre token d'accès</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                            <td><span class="badge bg-danger"><i class="fa fa-lock" aria-hidden="true"></i>{{ event.adminLinkToken }}</span></td>
                    </tr>
                </tbody>
            </table>
         </div>

       </div>
        <div class="row">
        <div class="col">
        <h2 class="mt-5 mb-5">Gestion des groupes</h2>

            {% if groups|length > 0 %}

            <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom du groupe</th>
                    <th title="Transmettez ce token aux gens concernés." scope="col">Token</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col">Dernière aide</th>
                    <th scope="col">Retirer le groupe</th>
                    <th scope="col">Page du groupe</th>
                    <th scope="col">Voir tickets</th>
                    <th scope="col">Aides reçues</th>
                    <th scope="col">Aider</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td><span class="badge bg-success">{{ group.linkToken }}</span></td>
                        <td>{{ group.lastArchived|date("d/m/Y") }} </td>
                        {% if group.lastHelped is null %}
                            <td>Aucune aide reçue </td>
                            
                        {% else %}
                            <td>{{ group.lastHelped|date("d/m - H:i") }} </td>

                        {% endif %}
                           
                        <td><a href="{{ path('group_delete', {id: group.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>
                        <td><a href="{{ path('group_show', {id: group.id, linkTokenParam: group.linkToken}) }}" class="btn btn-success">Page du groupe</a></td>
                        <td><button class="btn btn-success">Tickets</button></td>
                        <td class="text-center"><span >{{ group.helpedCounter }}</span></td>
                        <td><a href="{{ path('group_help', {id: group.id}) }}" class="btn btn-success">Aider</a></td>
                    </tr>
                {% endfor %}
             </tbody>
            </table>
            {% else %}
                {% if event is not null %}
                    <p>Aucun groupe n'est actuellement inscrit à l'événement "{{ event.name }}"</p>
                {% endif %}
            {% endif %}

         </div>
        </div>
      </div>
   </div>

{% else %}
    <h1>Evenement non existant</h1>

{% endif %}
{% endblock %}