{% extends "base.html.twig" %}

{% block title %}
    {{group.name}}
{% endblock %}
{% block body %}


 <div class="container mt-5 blur shadow-lg p-5">
    <h2>Bonjour, {{group.name}} </h2>
    <div class="row mt-5">
         <div class="col-5 card">
            <div class="card-header">
              <p>Ajouter un ticket pour ce groupe.</p>
            </div>
            <div class="card-body">
               {{ form_start(formView) }}
               {{ form_row(formView.title) }}
               {{ form_row(formView.request) }}
               {{ form_widget(formView._token)}}
               {{ form_errors(formView) }}
               <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Ajouter un Ticket</button>
            </div>
         </div>

         <div class="col-5">
            <span class="badge bg-primary">Votre groupe a été aidé {{group.helpedCounter}} fois.</span>
         </div>
       </div>
       <div class="row mt-5">
            <h3>Vos tickets</h3>
             <div class="container mt-5">
                <div class="row mt-2">
                {% if tickets|length == 0 %}
                    <p>Aucun ticket n'a encore été crée.</p>

                {% else %}
                    {% for ticket in tickets %}
                            {% include "shared/_ticketgroup.html.twig" %}     
                    {% endfor %}
                {% endif %}
                
                </div>
             </div>
       </div>
       
    
{% endblock %}