{% extends "base.html.twig" %}

{% block title %}
    Liste des 
{% endblock %}
{% block body %}
    {% if event %}
        <h1>{{ event.name }}</h1>
    {% endif %}

        

    

   <div class="container">
      <div class="row">
         <div class="col">
      <h2>Ajouter un groupe</h2>
               {{ form_start(formView) }}
               {{ form_row(formView.name) }}
               {{ form_errors(formView) }}
         </div>
 
         <div class="col">
        <h2>Les groupes présents.</h2>

            {% if groups|length > 0 %}
            <ul>
                {% for group in groups %}
                    <li>{{ group.name }} {{ group.lastArchived|date("m/d/Y") }}</li>
                {% endfor %}
            </ul>
            {% endif %}

         </div>
      </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Ajouter un groupe</button>
   </div>
    {{ form_end(formView) }}
{% endblock %}