{% extends "base.html.twig" %}

{% block title %}
    Création d'un Evenement
{% endblock %}
{% block body %}
   <h1 class="mb-5 mt-5">Bienvenue sur Coach</h1>

   <div class="container text-white shadow-lg">
      <div class="row bg-secondary p-5 ">
        <div class="col-5 m-5">
               <h2 class="text-white">Créer votre événement</h2>
               {{ form_start(formView) }}
               {{ form_row(formView.name) }}
               {{ form_row(formView.email) }}
               {# {{ form_row(formView.adminLinkToken)}} #}
               {{ form_errors(formView) }}

                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Créer l'événement</button>
               {{ form_end(formView) }}
        </div>
        <div class="col m-5">
            
            <h2 class="text-white">Accéder à votre événement</h2>

            <a class="btn btn-primary btn-lg" href="{{path('navigation_logincoach')}}">Je manage mon événement</a>
            {# {% if events|length > 0 %}
                <ul>
                    {% for event in events %}
                        <li><a href="{{ path('event_show', {'adminToken': event.adminLinkToken}) }}">{{ event.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %} #}

        </div>
      <div class="row mt-5">
       {% include "shared/_assurance.html.twig" with {
           "color" : "primary", 
           "icon" : "fas fa-truck", 
           "text" : "Augmentez votre rentabilité en Coaching et managez vos groupes avec souplesse!" 
        } %}

        {% include "shared/_assurance.html.twig" with {
           "color" : "success", 
           "icon" : "fas fa-check", 
           "text" : "Notre service est totalement gratuit, satisfait et nul besoin de remboursement donc." 
        } %}

        {% include "shared/_assurance.html.twig" with {
           "color" : "warning", 
           "icon" : "fas fa-lock", 
           "text" : "Nous sommes garants de la sécurité de vos données, aucune données sensible requise." 
        } %}
     </div>
    </div>
   </div>
   <div class="container text-white shadow-lg mt-5">
      <div class="row bg-secondary p-5 ">
       
        <div class="col mx-auto">
            
            <h2 class="text-white">Accéder à mon groupe</h2>

            <a class="btn btn-primary btn-lg" href="{{path('navigation_logincoach')}}">Accéder à mon groupe</a>

        </div>
    </div>
   </div>
{% endblock %}