<div class="col mb-2">
	<div class="card">
        <div class="card-header text-center">

        {% if item.isArchived == 1 %}
            <span class="badge bg-success">Vous avez réglé ce ticket!</span>
        {% else %}
            <span class="badge bg-dark">Ticket non traité.</span>
        {% endif %}

			<h3 class="card-text h5">{{item.title}}</h3>
			<p class="card-text">{{item.createdAt|date("d/m/Y")}}</p>
		</div>

		<div class="card-body">
            <p class="card-text">{{item.request}}</p>
            <div class="flex">

            {% if item.isArchived == 1 %}
               <a href="{{ path('ticket_changestatus', {ticketId: item.id }) }}" class="btn btn-sm btn-outline-warning btn-sm">Non réglé!</a>
             {% else %}
                <a href="{{ path('ticket_changestatus', {ticketId: item.id }) }}" class="btn btn-sm btn-outline-info btn-sm">Réglé!</a>
            {% endif %}
                <a class="btn btn-sm btn-outline-secondary btn-sm">Répondre</a>
            </div>
		</div>
	</div>
</div>

{# <select id="ticket_priority" name="ticket[priority]" class="form-select">
    <option value="1">Ça nous bloque complètement</option>
    <option value="2">Nous avons besoin d’aide</option>
    <option value="3">Petite demande qui ne presse pas trop</option>
    <option value="4">A l’occasion, venez nous faire un retour</option>
</select> #}